%% -*- erlang -*-
{deps,
 [
  {exometer_core, ".*", {git, "git://github.com/Feuerlabs/exometer_core.git", "09c2a93"}},
  {afunix, ".*", {git, "git://github.com/tonyrog/afunix.git", "180eed9"}}
 ]}.

{erl_opts,
 [
  debug_info,
  fail_on_warning,
  {verbosity, trace}
 ]}.

{edoc_opts,
 [
  {doclet, edown_doclet},
  {app_default, "http://www.erlang.org/doc/man"},
  {doc_path, []},
  {top_level_readme,
   {"./README.md",
    "https://github.com/Feuerlabs/exometer_collectd", "master"}}
 ]}.

{xref_checks,
 [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_functions_calls,
  deprecated_functions
 ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
